@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Palet Light Mode */
  :root {
    --background: #ffffff;
    --surface: #f4f4f5;    /* Zinc 100 */
    --border: #e4e4e7;     /* Zinc 200 */
    --accent: #4f46e5;     /* Indigo lebih gelap agar kontras di latar terang */
    --foreground: #09090b; /* Teks Hitam */
    --muted: #71717a;      /* Teks Abu-abu */
  }

  /* Palet Dark Mode */
  .dark {
    --background: #09090b; /* Pitch black */
    --surface: #18181b;    /* Zinc 900 */
    --border: #27272a;     /* Zinc 800 */
    --accent: #6366f1;     /* Indigo terang */
    --foreground: #fafafa; /* Teks Putih */
    --muted: #a1a1aa;      /* Teks Abu-abu terang */
  }

  body {
    /* Menerapkan variabel dan efek transisi yang mulus saat tema diganti */
    @apply bg-background text-foreground transition-colors duration-500 antialiased selection:bg-accent selection:text-white;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { @apply bg-background; }
::-webkit-scrollbar-thumb { @apply bg-border rounded-full; }
::-webkit-scrollbar-thumb:hover { @apply bg-muted; }